.main{
    background: url("../images/bg-clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.header{
    background-color: #008ae6;
    height: 80px;
}

.city{
    background-color: #66c2ff;
}

.weather-by-days, .weather-by-hours{
    overflow-x: scroll;
}

.row{
    flex-wrap: nowrap;
}

form{
    padding-top: 10px;
}

.days{
    padding-top: 60px;
}

.weather-by-days .col-sm{
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
}

.weather-by-hours .col-sm{
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
}